<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Tutorial</title>

  </head>
  <body>

  <br>
  <img src = "/static/wikipedia_logo.png" width="300">
  <br>
  <i style="font-family: 'Times New Roman'"> All roads lead to Philosophy</i>
  <br>

  {% block body %}

  <p style="font-size: 1.5em"> Scores History </p>
    <table align="center">
    {% for table in tables %}
        {{titles[loop.index]}}
        {{ table|safe }}
    {% endfor %}
    </table>

  <form>
    <input type="button" value="Retour" onclick="history.go(-1)">
  </form>

</body>


{% endblock %}