<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Tutoriel</title>

  </head>
  <body>

  <br>
  <img src = "/static/wikipedia_logo.png" width="300">
  <br>
  <i style="font-family: 'Times New Roman'"> Tous les chemins mènent à la philosophie</i>
  <br>

  {% block body %}

  <h2 style="font-size: 5em"> Règles du jeu </h2>
  <p> D'après ReadWriteWeb, tous les articles de la version anglaise de Wikipédia mènent à l'article «Philosophy». </p>
  <p>Si l'on clique sur le premier lien de chaque article, on tombera, au bout d'un moment, sur l'article Philosophy.</p>

  <a href=http://www.slate.fr/lien/39255/wikipedia-articles-philosophy> Voir l'article </a>

  <p>Afin de vérifier cette assertion, voici les règles de ce jeu :</p>
  <ul>
  	<li>Choisir mot de départ et valider</li>
  	<li>A partir de chaque mot, choisir le mot suivant</li>
  	<li>Si le mot suivant est "Philosophie", alors c'est gagné</li>
  </ul>

  <form>
    <input type="button" value="Retour" onclick="history.go(-1)">
  </form>

</body>


{% endblock %}