<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Tutoriel</title>

  </head>
  <body>

  <br>
  <a href="/">
      <img src = "/static/wikipedia_logo.png" width="300">
  </a>
  <br>
  <i style="font-family: 'Times New Roman'"> All roads lead to Philosophy</i>
  <br>

  {% block body %}

  <h2 style="font-size: 5em"> Rules </h2>
  <p> According to ReadWriteWeb, all articles in the English version of Wikipedia lead to the article "Philosophy". If you click on the first link of each article, you will come across the Philosophy article after a while. </p>

  <a href=http://www.slate.fr/lien/39255/wikipedia-articles-philosophy> See article </a>

  <p>In order to verify this assertion, here are the rules of this game: </p>
  <ul>
    <li>Select start word and validate</li>
    <li>From each word, choose the next word</li>
    <li>If the next word is "Philosophy", then it's won</li>
  </ul>

  <form>
    <input type="button" value="Back" onclick="history.go(-1)">
  </form>

</body>


{% endblock %}